body {
  background: $main-color;
  margin: 0;
}

.container {
  margin-top: $space;
  @include outer-container;
}

.hero {
  background: url(../images/hero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  height: 400px;
}

nav {
  @include span-columns(2);
  padding-right: $space;
}

.main-content-container {
  @include span-columns(10);
}

.item-container {
  background-color: white;
  padding: $space;
  margin-bottom: 1px;

  header {
    h3 {
      display: inline;
    }
    button {
      float: right;
    }
  }
}

.example {
  padding: $space;
  margin: $space/2 0;
  background-color: $light-color;
  border: 1px solid darken($light-color, 4);
}

button {
  border: 0;
  border-bottom: 2px solid darken($light-color, 5);
  background-color: $light-color;
  color: $main-color;
  text-transform: uppercase;
  font-size: $font-size;
  padding: 3px 10px;

}