body {
  font-family: $sans;
}

h1 {
  text-transform: uppercase;
  font-size: $font-size;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin: 0;
  padding-bottom: $space /2;
  border-bottom: 1px dashed $white;
  i {
    margin-right: $space /4;
  }
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: $font-size *1.5;
  line-height: $font-size *2.5;
}

h3 {
  margin: 0;
  color: $main-color;
}

h4 {
  margin: 0;
  color: $main-color;
}

p {
  font-size: $font-size;
  color: $main-color;
}

small {
  text-transform: uppercase;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: transparentize($white, 0.1);
  &:hover {
    color: $white;
  }
}

code {
  font-size: $font-size;
  line-height: $line-height;
}

///////////////////////////////////////////////////////////////
//
//   Icon Font
//
///////////////////////////////////////////////////////////////

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?17503373');
  src: url('../fonts/fontello.eot?17503373#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?17503373') format('woff'),
       url('../fonts/fontello.ttf?17503373') format('truetype'),
       url('../fonts/fontello.svg?17503373#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-tools:before { content: '\e801'; } /* '' */
.icon-right-circled:before { content: '\e800'; } /* '' */