$sans: 'Open Sans', sans-serif;;

///////////////////////////////////////////////////////////////
//
//   Sizes
//
///////////////////////////////////////////////////////////////

$space: 30px;
$font-size: $space /2.5;
$line-height: $font-size * 1.4;

///////////////////////////////////////////////////////////////
//
//   Colors
//
///////////////////////////////////////////////////////////////

$main-color: #84909C;
$cta-color: adjust-hue(saturate($main-color, 25), -30);//#2EA798;
$white: white;
$main-color-light: lighten(adjust-hue(mix($white, $main-color), -40), 10);
$black: darken($main-color, 50);
$light-color: #FAFAFA;

///////////////////////////////////////////////////////////////
//
//   Responsive
//
///////////////////////////////////////////////////////////////

$mobile: new-breakpoint(max-width 750px);