///////////////////////////////////////////////////////////////
//
//   Sizes
//
///////////////////////////////////////////////////////////////

$space: 30px;
$font-size: $space /2.5;

///////////////////////////////////////////////////////////////
//
//   Colors
//
///////////////////////////////////////////////////////////////

$main-color: teal;
$white: white;
$black: darken($main-color, 50);
$light-color: #EEE;