///////////////////////////////////////////////////////////////
//
//   Sizes
//
///////////////////////////////////////////////////////////////

$space: 30px;
$font-size: $space /2.5;
$line-height: $font-size * 1.4;

///////////////////////////////////////////////////////////////
//
//   Colors
//
///////////////////////////////////////////////////////////////

$main-color: #84909C;
$white: white;
$main-color-light: adjust-hue(mix($white, $main-color), -40);
$black: darken($main-color, 50);
$light-color: #FAFAFA;