@charset "UTF-8";
/* line 1, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.hll {
  background-color: #ffffcc; }

/* line 2, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.c {
  color: #60a0b0;
  font-style: italic; }

/* Comment */
/* line 3, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.k {
  color: #007020; }

/* Keyword */
/* line 4, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.o {
  color: #666666; }

/* Operator */
/* line 5, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.cm {
  color: #60a0b0;
  font-style: italic; }

/* Comment.Multiline */
/* line 6, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.cp {
  color: #007020; }

/* Comment.Preproc */
/* line 7, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.c1 {
  color: #60a0b0;
  font-style: italic; }

/* Comment.Single */
/* line 8, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.cs {
  color: #60a0b0;
  background-color: #fff0f0; }

/* Comment.Special */
/* line 9, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gd {
  color: #a00000; }

/* Generic.Deleted */
/* line 10, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.ge {
  font-style: italic; }

/* Generic.Emph */
/* line 11, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gr {
  color: red; }

/* Generic.Error */
/* line 12, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gh {
  color: #000080; }

/* Generic.Heading */
/* line 13, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gi {
  color: #00a000; }

/* Generic.Inserted */
/* line 14, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.go {
  color: gray; }

/* Generic.Output */
/* line 15, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gp {
  color: #c65d09; }

/* Generic.Prompt */
/* Generic.Strong */
/* line 17, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gu {
  color: #800080; }

/* Generic.Subheading */
/* line 18, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.gt {
  color: #0040d0; }

/* Generic.Traceback */
/* line 19, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.kc {
  color: #007020; }

/* Keyword.Constant */
/* line 20, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.kd {
  color: #007020; }

/* Keyword.Declaration */
/* line 21, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.kn {
  color: #007020; }

/* Keyword.Namespace */
/* line 22, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.kp {
  color: #007020; }

/* Keyword.Pseudo */
/* line 23, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.kr {
  color: #007020; }

/* Keyword.Reserved */
/* line 24, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.kt {
  color: #902000; }

/* Keyword.Type */
/* line 25, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.m {
  color: #40a070; }

/* Literal.Number */
/* line 26, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.s {
  color: #4070a0; }

/* Literal.String */
/* line 27, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.na {
  color: #4070a0; }

/* Name.Attribute */
/* line 28, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nb {
  color: #007020; }

/* Name.Builtin */
/* line 29, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nc {
  color: #0e84b5; }

/* Name.Class */
/* line 30, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.no {
  color: #60add5; }

/* Name.Constant */
/* line 31, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nd {
  color: #555555; }

/* Name.Decorator */
/* line 32, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.ni {
  color: #d55537; }

/* Name.Entity */
/* line 33, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.ne {
  color: #007020; }

/* Name.Exception */
/* line 34, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nf {
  color: #06287e; }

/* Name.Function */
/* line 35, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nl {
  color: #002070; }

/* Name.Label */
/* line 36, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nn {
  color: #0e84b5; }

/* Name.Namespace */
/* line 37, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nt {
  color: #062873; }

/* Name.Tag */
/* line 38, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.nv {
  color: #bb60d5; }

/* Name.Variable */
/* line 39, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.ow {
  color: #007020; }

/* Operator.Word */
/* line 40, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
/* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.mf {
  color: #40a070; }

/* Literal.Number.Float */
/* line 42, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.mh {
  color: #40a070; }

/* Literal.Number.Hex */
/* line 43, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.mi {
  color: #40a070; }

/* Literal.Number.Integer */
/* line 44, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.mo {
  color: #40a070; }

/* Literal.Number.Oct */
/* line 45, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.sb {
  color: #4070a0; }

/* Literal.String.Backtick */
/* line 46, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.sc {
  color: #4070a0; }

/* Literal.String.Char */
/* line 47, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.sd {
  color: #4070a0;
  font-style: italic; }

/* Literal.String.Doc */
/* line 48, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.s2 {
  color: #4070a0; }

/* Literal.String.Double */
/* line 49, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.se {
  color: #4070a0; }

/* Literal.String.Escape */
/* line 50, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.sh {
  color: #4070a0; }

/* Literal.String.Heredoc */
/* line 51, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.si {
  color: #70a0d0;
  font-style: italic; }

/* Literal.String.Interpol */
/* line 52, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.sx {
  color: #c65d09; }

/* Literal.String.Other */
/* line 53, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.sr {
  color: #235388; }

/* Literal.String.Regex */
/* line 54, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.s1 {
  color: #4070a0; }

/* Literal.String.Single */
/* line 55, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.ss {
  color: #517918; }

/* Literal.String.Symbol */
/* line 56, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.bp {
  color: #007020; }

/* Name.Builtin.Pseudo */
/* line 57, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.vc {
  color: #bb60d5; }

/* Name.Variable.Class */
/* line 58, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.vg {
  color: #bb60d5; }

/* Name.Variable.Global */
/* line 59, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.vi {
  color: #bb60d5; }

/* Name.Variable.Instance */
/* line 60, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/pygments.css */
.il {
  color: #40a070; }

/* Literal.Number.Integer.Long */
/* line 2, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 63, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_variables.scss */
.hero a {
  font-weight: 700;
  cursor: pointer;
  border-bottom: 2px solid #64a2a2;
  background-color: #74acac;
  transition: all 0.03s linear;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px white;
  color: white;
  text-shadow: 0 2px 1px #599494; }
  /* line 74, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_variables.scss */
  .hero a:hover {
    color: white;
    text-decoration: none;
    background-color: #84b5b5;
    *background-color: #64a2a2;
    /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px; }
  /* line 83, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_variables.scss */
  .hero a.active, .hero a:active {
    background-color: #64a2a2;
    background-color: #64a2a2 \9;
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 1, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.code-section {
  margin: 0;
  padding: 10px; }
  /* line 5, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .code-section pre {
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal; }
  /* line 11, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .code-section.html {
    display: block;
    float: left;
    margin-right: 0.84034%;
    width: 32.77311%; }
    /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
    .code-section.html:last-child {
      margin-right: 0; }
  /* line 15, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .code-section.css {
    display: block;
    float: left;
    margin-right: 0.84034%;
    width: 32.77311%; }
    /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
    .code-section.css:last-child {
      margin-right: 0; }
  /* line 19, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .code-section.js {
    display: block;
    float: left;
    margin-right: 0.84034%;
    width: 32.77311%;
    margin-right: 0; }
    /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
    .code-section.js:last-child {
      margin-right: 0; }
  @media screen and (max-width: 750px) {
    /* line 1, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
    .code-section {
      display: block;
      float: left;
      margin-right: 0.84034%;
      width: 100%; }
      /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
      .code-section:last-child {
        margin-right: 0; } }
  /* line 28, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .code-section header {
    margin-bottom: 30px; }
    /* line 31, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
    .code-section header h4 {
      display: inline;
      margin-right: 15px; }
    /* line 36, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
    .code-section header button {
      border: none;
      background-color: #e1e1e1;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 800;
      color: white;
      padding: 3px 18px;
      font-size: 8px;
      display: inline; }
      /* line 47, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
      .code-section header button:hover {
        background-color: #c7c7c7; }

/* line 61, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-open {
  overflow: hidden; }

/* line 66, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 15px; }

/* line 69, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040; }

/* line 80, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

/* line 89, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

/* line 94, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050; }

/* line 101, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none; }

/* line 112, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.2); }

/* line 121, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

/* line 125, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50); }

/* line 129, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px; }
  /* line 134, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .modal-header button {
    background-color: transparent;
    border: none;
    float: right; }

/* line 140, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-header .close {
  margin-top: -2px; }

/* line 143, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-title {
  margin: 0;
  line-height: 1.428571429; }

/* line 147, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-body {
  position: relative;
  padding: 20px; }

/* line 151, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

/* line 158, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer:before,
.modal-footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 166, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer:after {
  clear: both; }

/* line 170, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer:before,
.modal-footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 178, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer:after {
  clear: both; }

/* line 181, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

/* line 185, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

/* line 188, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

@media screen and (min-width: 768px) {
  /* line 192, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .modal-dialog {
    margin: auto;
    width: 95%;
    padding-top: 30px;
    padding-bottom: 30px; }

  /* line 199, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); } }
/* line 922, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

/* line 927, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.fade.in {
  opacity: 1; }

/* line 930, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.collapse {
  display: none; }

/* line 933, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.collapse.in {
  display: block; }

/* line 936, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_code-section.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease; }

/* line 1, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
body {
  background: #74acac;
  margin: 0; }

/* line 7, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.container {
  margin-top: 30px;
  *zoom: 1;
  max-width: 2700px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; }
  /* line 18, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/bourbon/addons/_clearfix.scss */
  .container:before, .container:after {
    content: " ";
    display: table; }
  /* line 23, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/bourbon/addons/_clearfix.scss */
  .container:after {
    clear: both; }

/* line 13, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.main-content-container {
  display: block;
  float: left;
  margin-right: 0.84034%;
  width: 83.19328%; }
  /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
  .main-content-container:last-child {
    margin-right: 0; }

/* line 23, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.hero {
  background: url(../images/hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: whitesmoke;
  width: 100%;
  height: 520px; }
  /* line 34, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .hero i {
    display: block;
    font-size: 72px; }
  /* line 39, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .hero h1 {
    border-bottom: 0;
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
    color: #5d5d5d;
    text-shadow: 0 1px 1px rgba(144, 144, 144, 0.2); }
  /* line 48, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .hero h2 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 400;
    max-width: 600px;
    margin: auto;
    margin-bottom: 15px;
    color: #838383;
    text-shadow: 0 1px 1px rgba(144, 144, 144, 0.2); }
  /* line 59, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .hero .divider {
    border-bottom: 1px solid #909090;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 60px; }
  /* line 67, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .hero a {
    margin: 30px auto 0 auto;
    display: block;
    padding: 13px;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 13px;
    *line-height: 13px;
    text-align: center;
    width: 500px;
    padding: 30px;
    font-size: 18px; }

/* line 89, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
nav {
  display: block;
  float: left;
  margin-right: 0.84034%;
  width: 20.16807%;
  padding-right: 30px; }
  /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
  nav:last-child {
    margin-right: 0; }
  /* line 93, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  nav h2 {
    font-size: 12px;
    text-shadow: 0 1px 0 #5d5d5d;
    text-transform: uppercase;
    margin: 0; }
  /* line 100, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  nav a {
    display: block;
    font-size: 14.4px; }
    /* line 104, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
    nav a:last-child {
      margin-bottom: 15px; }

/* line 110, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.main-content-container {
  display: block;
  float: left;
  margin-right: 0.84034%;
  width: 78.9916%;
  margin-right: 0; }
  /* line 41, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/neat/grid/_span-columns.scss */
  .main-content-container:last-child {
    margin-right: 0; }

/* line 121, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.item-container {
  background-color: white;
  position: relative; }
  /* line 125, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .item-container .info-section {
    padding: 15px;
    min-height: 100px;
    background-color: #467474; }
    /* line 130, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
    .item-container .info-section:hover {
      background-color: #4b7e7e;
      cursor: pointer; }
  /* line 136, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .item-container .item-links {
    position: absolute;
    bottom: 15px;
    padding-left: 15px; }
    /* line 141, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
    .item-container .item-links button {
      border: 0;
      color: white;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      padding: 4px 15px;
      margin-right: 30px;
      background-color: #3c6464; }
      /* line 156, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
      .item-container .item-links button.bourbon {
        background-color: #909090;
        border-bottom: 2px solid #767676;
        text-shadow: 0 1px 0 #767676; }
        /* line 160, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
        .item-container .item-links button.bourbon:hover {
          background-color: #9d9d9d; }
  /* line 167, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .item-container .code-button {
    display: block; }

/* line 172, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.example {
  min-height: 140px;
  margin: 30px 30px 0 30px;
  *zoom: 1; }
  /* line 18, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/bourbon/addons/_clearfix.scss */
  .example:before, .example:after {
    content: " ";
    display: table; }
  /* line 23, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/bourbon/addons/_clearfix.scss */
  .example:after {
    clear: both; }
  /* line 177, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
  .example div, .example img {
    margin: auto; }

/* line 182, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_layout.scss */
.tabs {
  min-height: 155px; }

/* line 1, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
body {
  font-family: "Open Sans", sans-serif; }

/* line 5, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
h1 {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px dashed white; }
  /* line 13, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
  h1 i {
    margin-right: 7.5px; }

/* line 18, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
h2 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 6px; }

/* line 27, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
h3 {
  margin: 0;
  font-size: 12px;
  color: white;
  font-weight: 400; }

/* line 34, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
h4 {
  margin: 0;
  color: #909090; }

/* line 39, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
p {
  font-size: 12px;
  color: #909090; }

/* line 44, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
small {
  text-transform: uppercase;
  font-weight: 800; }

/* line 49, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9); }
  /* line 52, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
  a:hover {
    color: white; }

/* line 57, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
code {
  font-size: 12px;
  line-height: 16.8px; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?17503373");
  src: url("../fonts/fontello.eot?17503373#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?17503373") format("woff"), url("../fonts/fontello.ttf?17503373") format("truetype"), url("../fonts/fontello.svg?17503373#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 79, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em; }

/* line 95, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
.icon-tools:before {
  content: '\e801'; }

/* '' */
/* line 96, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_typography.scss */
.icon-right-circled:before {
  content: '\e800'; }

/* '' */
/* line 1, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_example-tweaks.scss */
.navigation-item {
  min-width: 350px; }

/* line 5, /Users/Magnus/Documents/thoughtbot/spare_parts/source/stylesheets/_example-tweaks.scss */
.line_behind_text-item {
  min-width: 250px; }
